<div  class="jumbotron top-background">
    <h1>Team*Auelu月会費一覧</h1>
    <p>月末までに支払い、遅れる場合は連絡お願いします。連絡なしの遅延は1000円追加でいただきます。</p>
    <p>支払い月に支払いが完了していない場合、<span class="red">赤く</span>表示されています。</p>
</div>
<div class="container-fuild player-container">
    <div class="container">
        <div class="row">
          <%= render 'shared/player' %>
        </div>
    </div>
</div>


