<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<%= link_to "チームアウエル会計管理",  root_path, class: "navbar-brand" %>
   <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                     <%= link_to "Login",  rails_admin_path, class: "nav-link active" %>
                </li>
            </ul>
        </div>
</nav>