@import "bootstrap";

ul {
    padding: 0;
}

li {
    list-style: none;
}

.user-lists {
    border: solid 1px #000000;
    border-radius: 20px;
    width: 95%;
    margin: 20px auto;
    li {
        padding-left: 20px;
    }
}
