@import "bootstrap";
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.navbar-brand{
    font-size: 1.2rem;
}

.top-background {
    background-image: url('background-img.jpg');
    background-size: cover;
    width: 100%;
    padding-top: 160px;
    background-position: center center;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    text-align: center;
    color: #000;
}
.top-background h1{
    font-size: 27px;    
    padding-bottom: 20px;
}
.top-background p {
    font-size: 16px;
    padding-bottom: 20px;
}

.player-container {
    background-color: #fafafa;
}

.user-lists {
    border-radius: 10px;
    width: 95%;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    li {
        padding-left: 20px;
    }
}

.done {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.red {
    background: rgba(255,0,0,0.5)
}

footer {
    position: absolute;
    bottom: 0; 
    padding-left: 20px;
}